Android/.idea/
Android/gradle/wrapper/gradle-wrapper.jar
Android/gradle/wrapper/gradle-wrapper.properties
Android/gradlew
Android/gradlew.bat
*.pyc
/C/VSProject/PlaycorderTester/.vs
/C/VSProject/PlaycorderTester/Debug
/Python/.idea
/.idea
